<div id="ws-articles-container">

  <p-table class="ws-table"
            [value]="allArticles" [paginator]="true"
           [rows]="10" [showCurrentPageReport]="true" responsiveLayout="scroll"
           currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
           [rowsPerPageOptions]="[10,25,50]"
            >
    <ng-template pTemplate="header">
      <tr>
        <th>#ID</th>
        <th>Artikel</th>
        <th>Typ</th>
        <th>aktiv</th>
      </tr>
      <tr *ngIf="articlesLoading">
        <td class="ws-spinner-td" colspan="4">
          <app-ws-spinner [loading]="articlesLoading"></app-ws-spinner>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-article>
      <tr>
        <td>{{article.artNo}}</td>
        <td>{{article.artName}}</td>
        <td>{{article.artType}}</td>
        <td>{{article.artActive}}</td>
      </tr>
    </ng-template>
  </p-table>

</div>
