#ws-event-edit-container{
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  padding: 0px;
  background-color: #343434;
  max-height: 0px;
  overflow: hidden;
  z-index: 50;

  transition: all 350ms ease-in-out;
  -webkit-transition: all 350ms ease-in-out;
  -moz--webkit-transition: all 350ms ease-in-out;
  -ms--webkit-transition: all 350ms ease-in-out;
  -o--webkit-transition: all 350ms ease-in-out;

  &.ws-show-event-edit{
    max-height: 100vh;
    min-height: 30vh;
    padding: 16px;
  }

  #ws-event-edit-content-wrapper{
    position: relative;
    max-width: 1000px;
    margin: 0px auto;

    .ws-scheduler-close-edit{
      cursor: pointer;
      position: absolute;
      top: 0px;
      right: 16px;
      font-size: 32px;
    }
  }
}

#ws-event-edit-container-backdrop{
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #0009;
  opacity: 0;
  z-index: -1;

  transition: all 350ms ease-in-out;
  -webkit-transition: all 350ms ease-in-out;
  -moz--webkit-transition: all 350ms ease-in-out;
  -ms--webkit-transition: all 350ms ease-in-out;
  -o--webkit-transition: all 350ms ease-in-out;

  &.ws-show-event-edit{
    opacity: 1;
    z-index: 0;
  }
}
