#ws-main-content-container{
  width: 100%;
  margin: 16px auto;
  max-width: 2000px;
  background-color: #2222227a;
  color: #fff;

  & > h1{
    width: 100%;
    margin: 0px;
    padding: 16px 0px;
    text-align: center;
    background-color: #0004047a;
    font-size: 34px;
  }

  #ws-main-content-area{
    padding: 16px 32px;
  }
}
