<div id="ws-events-container">

  <p-table class="ws-table" [value]="allEvents" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" responsiveLayout="scroll"
           currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]">
    <ng-template pTemplate="header">
      <tr>
        <th>#ID</th>
        <th>Event</th>
        <th>Starttag</th>
      </tr>
      <tr *ngIf="eventsLoading">
        <td class="ws-spinner-td" colspan="4">
          <app-ws-spinner [loading]="eventsLoading"></app-ws-spinner>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-wsevent>
      <tr>
        <td>{{wsevent.evnNo}}</td>
        <td>{{wsevent.evnArticle}}</td>
        <td>{{wsevent.evnDateStartday}}</td>
      </tr>
    </ng-template>
  </p-table>

</div>
