<div id="ws-sales-container">

  <p-table class="ws-table" [value]="allSales" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" responsiveLayout="scroll"
           currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]">
    <ng-template pTemplate="header">
      <tr>
        <th>#ID</th>
        <th>Artikel</th>
        <th>Startdatum</th>
        <th>Enddatum</th>
        <th>Typ</th>
        <th>Preis</th>
      </tr>
      <tr *ngIf="salesLoading">
        <td class="ws-spinner-td" colspan="6">
          <app-ws-spinner [loading]="salesLoading"></app-ws-spinner>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-wssale>
      <tr>
        <td>{{wssale.salNo}}</td>
        <td>{{wssale.salArticle}}</td>
        <td>{{wssale.salDateFrom}}</td>
        <td>{{wssale.salDateTo}}</td>
        <td>{{wssale.salType}}</td>
        <td>{{wssale.salPrice}}</td>
      </tr>
    </ng-template>
  </p-table>

</div>
