#ws-sports-navi-container{
  width: 100%;
  background-color: #2222227a;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  .ws-menu-item{
    transition: all 350ms ease-in-out;

    &:hover{
      background-color: #1111117a;
    }

    a{
      padding: 6px 32px;
      font-size: 24px;
      display: inline-block;
    }

  }
}
